<template name="ui_components_navbar">
    <div class="navbar-fixed">
        <nav class="red">
            <div class="nav-wrapper">
                <a href="#top" class="brand-logo center black-text"><i class="material-icons large">delete</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#projects" class="black-text">Projects</a></li>
                    <li><a href="#aboutme" class="black-text">About Me</a></li>
                </ul>
            </div>
        </nav>
    </div>
</template>