<template name="ui_components_navbar">
    <div class="navbar-fixed">
        <nav class="light-blue darken-4">
            <div class="nav-wrapper">
                <a href="#top" class="brand-logo"> Travis Leeden</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#aboutme">About Me</a></li>
                </ul>
            </div>
        </nav>
    </div>
</template>