<template name="ui_components_projectsDisplay">
    <script>
        $('.collapsible').collapsible({
            accordion: false, // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
    </script>

    <ul class="collapsible popout" data-collapsible="expandable">
        {{#each project in getProjects}}
            {{>ui_components_projectsLine projectName=project.name projectText=project.description projectLink=project.link}}
        {{/each}}
    </ul>
</template>

<template name="ui_components_projectsLine">
    <li>
        <div class="collapsible-header waves-effect waves-teal">
            <span class="left">{{projectName}}</span>
            <a class="right" href="{{projectLink}}"><i class="material-icons">open_in_new</i></a>
        </div>
        <div class="collapsible-body">
            <p>{{#markdown}}{{projectText}}{{/markdown}}</p>
        </div>
    </li>
</template>